@page
@model ForexHelpers.Web.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>
	I created this website to practice my ASP.NET Core skill and try to help with my Forex trading.
	<br />
	In my free time I do a bit of swing trading on the side, nothing big, just playing around. I don't even use real money yet.
	During my trading sessions, I noticed that there are a few tools that I would like to have that can somewhat aid my trading.
</p>
<p>
	Feel free to use the tools provided here however you like. It is completely free, no ads whatsoever.
	<br />
	I would be enormously happy if any of the tools could improve your trading even a tiny bit.
</p>